
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt</h2>

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet, tortor sed bibendum venenatis, odio nibh mattis magna, eu commodo ipsum risus quis ex. Donec erat elit, vulputate a nisi non, elementum scelerisque nisi. Donec placerat vestibulum lacus eget consectetur. In posuere, metus id bibendum condimentum, sem elit accumsan velit, vel mattis quam quam eget justo. Sed consectetur nunc eget libero maximus ornare. Morbi commodo dui congue rhoncus tincidunt. Mauris viverra felis ac metus varius egestas. Nunc egestas mi vel convallis malesuada. Vestibulum ut diam ac elit fringilla lobortis. Nullam auctor sem dapibus consectetur pulvinar. Nam in sapien eros. Morbi non elit ut mauris sagittis faucibus sit amet ut turpis. Suspendisse ac sapien et enim eleifend pulvinar et sed lacus.
</div>